# Tipe Data Set

## A. Apa itu Tipe Data Set?

tipe data set merupakan tipe data yang mengandung beberapa elemen. elemen dalam set tidak tersusun dan tidak memiliki index. set ditulis dengan menggunakan kurung kurawal { }

In [ ]:
#Membuat Tipe Data Set
Books = {"Romance", "Scifi", "Self_improve","Science_pop"}

In [ ]:
#Mencetak Tipe Data Set
print(Books)

## 2. Manipulasi Tipe Data Set

terdapat beberapa fitur yang bisa digunakan untuk manipulasi data set
* add()     
* copy ()   
* clear()
* update()
* pop()
* pop()
* union()
* remove()
* issubset()
* issupperset()
* isdisjoin()
* intersection()
* difference()
* simetric_difference()

In [ ]:
''' add()
digunakana untuk menambahkan data ke set'''
Books.add('History') #menambahkan History pada set Books

<div class="alert alert-block alert-success">
<b>Output:</b> 
<br> {'History', 'Romance', 'Science_pop', 'Scifi', 'Self_improve'}
</div>

In [ ]:
''' copy()
digunkan untuk menduplikat nilai pada set. set hasil duplikat tidak akan mempengaruhi set yang diduplikat'''
New_books = Books.copy()
print(New_books)

<div class="alert alert-block alert-success">
<b>Output:</b> <br>{'Science_pop', 'Self_improve', 'Romance', 'History', 'Scifi'}
</div>

In [ ]:
#menambahkan nilai pada New_books
New_books.add('children')
print(New_books)
print(Books) #nilai pada set Books tidak akan berubah walapun New_books diubah

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{'Science_pop', 'Self_improve', 'Romance', 'History', 'children', 'Scifi'}
<br>
{'Self_improve', 'History', 'Romance', 'Scifi', 'Science_pop'}
</div>

In [ ]:
''' clear()
digunakan untuk menghapus semua elemen dalam set'''
New_books.clear()
print(New_books)

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
set()
</div>

In [ ]:
'''pop()
menghilangkan elemen pada set secara acak'''
print(Books)

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{'Self_improve', 'History', 'Romance', 'Scifi', 'Science_pop'}
</div>

In [ ]:
Books.pop() #akan menghasilkan elemen yang dihapus pada set

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
'Self_improve'
</div>

In [ ]:
print(Books) #elemen 'Self_improve' tidak akan keluar pada set Books

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{'History', 'Romance', 'Scifi', 'Science_pop'}
<div>

In [ ]:
'''remove()
menghilangkan elemen tertentu dari set'''
Books.remove('Romance') #elemen Romance akan hilang
print(Books)

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{'History', 'Scifi', 'Science_pop'}
<div>

In [ ]:
'''union()
menggabungkan dua set tanpa mengubah nilai. Nilai dari masing-masing set digabung menjadi satu'''
#membuat set baru
Books_2 = {'Cook','Children','Manga'}
data = Books.union(Books_2)
print(data) #gabungan dari set Books dan Books_2

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{'Science_pop', 'Manga', 'Cook', 'History', 'Scifi', 'Children'}
<div>

In [ ]:
'''issubset() dan issuperset()
issubset() : A.issubset(B) >> TRUE :menunjukkan kalau semua
elemen pada A ada di B
                              FALSE : kalai elemen pada A tidak ada di B
issuperset() : A.issuperset(B)>> TRUE : kalau semua nilai di B ada di A
                                 False : kalai gak semua elemen B ada di A'''

In [ ]:
A = {2,3,6}
B = {2,3,6,1,4,6,7}
print(A.issubset(B)) #akan menghasilkan TRUE
print(B.issuperset(A)) #akan menghasilkan TRUE

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
True
<br>
True
<div>

In [ ]:
'''isdisjoint()
mengembalikan nilai kebenaran kalau dua set tersebut saling lepas
TRUE : kalau dalam dua set tersebut tidak ada elemen yang sama
FALSE : kalau ada elemen yang sama'''
C = {4,5,6,7}
D = {1,2,4,5,6}
E = {0,9}

print(C.isdisjoint(D))
print(D.isdisjoint(E))

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
False
<br>
True
<div>

In [ ]:
'''intersection()
mengembalikan nilai yang sama dari dua set'''
C = {4,5,6,7}
D = {1,2,4,5,6}
print(C.intersection(D))

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{4, 5, 6}
<div>

In [ ]:
'''difference()
mengembalikan nilai yang tidak ada di set yang lain
C.difference(C) : elemen C yang tidak ada di D'''
C = {4,5,6,7}
D = {1,2,4,5,6}
print(C.difference(D))

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{7}
<div>

In [ ]:
'''symmetric_difference()
menggabungkan nilai yang tidak ada di masing-masing set'''
C = {4,5,6,7}
D = {1,2,4,5,6}
print(C.symmetric_difference(D))

<div class="alert alert-block alert-success">
<b>output:</b> 
<br>
{1, 2, 7} <br>
elemen C yang tidak ada di D : 1 <br>
elemen D yang tidak ada di C : 2,7
<div>